{% extends 'base.html.twig' %}

{% block title %}Éditer la tâche{% endblock %}

{% block body %}
    <div class="formContainer">
        <h1>Éditer la tâche</h1>
        {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('task_list') }}">Retour à la liste</a>
        {{ include('task/_delete_form.html.twig') }}

    </div>

{% endblock %}